@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #34495e;
  background: #ecf0f1;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes confetti {
  0% {
    transform: translateY(0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translateY(100vh) rotateX(360deg) rotateY(720deg);
  }
}

.animate-confetti {
  animation: confetti 3s ease-in-out forwards;
}
